
body{
    background-color:rgb(249, 247, 247);
}
.font{
height: 23px;
width: auto;
mix-blend-mode: multiply;
}
.font1{
    color: black;
    font-weight: lighter;
    font-size: 23pt;
}
.btn{
    background-color: blue;
    color: white;
    border-radius: 3px;
    border-color: blue;
    text-align: center;
    width: 300px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}
.btn1{
    background-color: rgb(61, 192, 61);
    color: white;
    border-radius: 3px;
    border-color: rgb(32, 161, 32);
    text-align: center;
    width: 300px;
    cursor: pointer;
    margin: 10px;
    padding: 15px;
}
.container{
    display: flex;
    justify-content: space-around;
    /* display: none; */
}
.adjust{
     margin-top: 100px;
}
.adjust1{
    display: inline-block;
    padding: 0;
}
.input{
margin-top :150px;
}
.c1{
    width: 300px;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    cursor:pointer ;
}
.font2{
    font-weight: 500;
}
.font3{
    color: rgb(61, 54, 54);
}
.cross{
    margin-top: 2px;
    margin-right: 2px;
}
/* .popup{
    position: fixed;
    top:0px;
    left:0px;
    height: 100vh;
    width: 100wh;
    background: (0,0,0,0.7);
    z-index: 1;
    display: none; */
/* } */

.popup{
    position: absolute;
    top:-10%;
    left:50%;
    transform: translate(-50%,50%);
    background: white;
    width: 430px;
    box-shadow: 0 2px 8px rgb(213, 209, 209),0 8px 16px rgb(202, 200, 200);
padding: 18px;
    text-align: center;
    border-radius: 8px;
}
.popup-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.show{
    display: block;
}
.layer{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 22;
    opacity: 0.7;
    display: none;
}