body{
    color: white;
background-color: black;}
hr{
   border-width: 5px;
   background-color: aliceblue;
}
    
 .main1{
    background-image: url(images/netflix.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    width: 100%;  
}

}
.box1{
    position: absolute;
    top: 20px;
    left: 30px;
    mix-blend-mode:normal;
}
.box2{
    position: absolute;
    right: 30px;
    top: 20px;
    padding: 8px;
}
.box3{

    color: white;
    font-size: 25px;
    font-style: bold;
    text-align: center;
    margin: top 35%;
    margin:left 20%;
}
.box4{
    position: absolute;
color: white;
font-size: 25px;
font-style: bold;
text-align: center;
top:47%;
left:38%;
}
.box5{
    position: absolute;
    color: white;
    text-align: center;
    font-style:normal;
    font-size: 25px;
    bottom: 35%;
    left:25%;
    font-weight: bold;
}

.box6{
    position: absolute;
    bottom: 27%;
    left:40%;
    right:30%;
    padding: 30px;
    width: 65%;
}
.secondpage{
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.f1{
    margin-top: 10%;
}
.font{
    margin: top 16px;;
    left: 30%;
    font-size: 25pt;
    color: white;
}
.font1{
    
    top:30%;
    left: 30px;
    font-size: 15pt;
    color: white;
}
.img{
    
    margin: top 22px;
    right: 15%;
}
.f2{
    margin-top: 10%;
}
.display{
    display: flex;
    justify-content: space-around;
}
.dropdown{
    color:red;
    padding: 5px;
    margin: 5px;
    background-color: slategray;
    width: 100pt;
}
.d{
    color:white;
    padding:10px;
    margin: 5px;
    background-color: slategrey;
}
.gap{
    gap: 2px;
 margin :top 60px;
}